.container {
  background-color: #212121;
  min-height: calc(100vh - 207px);
  /* padding: 50px 100px; */
  padding: 30px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    padding: 50px 100px;
    min-height: calc(100vh - 327px);
  }
}
