.nav {
  display: none;
}
.ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  width: 280px;
}
.activeLink {
  color: #fbc02d;
  padding: 0 !important;
}
.a {
  font-size: 18px;
  padding: 0 20px;
}
.iconDrawer {
  position: absolute;
  left: 20px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .nav {
    display: initial;
  }
  .iconDrawer {
    display: none;
  }
  .ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    flex-direction: row;
    width: 400px;
  }
  .activeLink {
    color: #fbc02d;
  }
  .a {
    font-size: 18px;
  }
}
