.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
}
.title {
  margin: 0;
  color: #fff;
  /* font-size: 36px; */
  font-size: 28px;
  font-weight: 100;
}
.line {
  width: 100px;
  height: 2px;
  background-color: #fbc02d;
  margin-top: 16px;
}
.tabSection {
  margin-top: 20px;
  width: 100%;
}
.tabs {
  display: flex;
  padding-top: 10px;
  width: 700px;
}
.tabItem {
  color: #fff;
  width: 150px;
  text-align: center;
  cursor: pointer;
  padding-bottom: 8px;
  border-bottom: 1px solid #bdbdbd;
}
.tabItemActive {
  color: #fbc02d;
  border-bottom: 2px solid #fbc02d;
  font-size: 24px;
  font-weight: bold;
  margin-top: -7px;
}
.headerTab {
  border-bottom: 1px solid #bdbdbd;
  overflow-x: scroll;

  /* display: flex; */
}
.datePicker {
  /* border-bottom: 1px solid #bdbdbd; */
  width: 100%;
}
.loading {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.signalList {
  display: grid;
  grid-template-columns: auto;
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 30px;
}
/* For SignalItem */
.containerItem {
  background-color: #313131;
  border-radius: 12px;
  padding: 24px 12px;
  display: flex;
  justify-content: space-between;
  /* max-height: 180px; */
  height: auto;
}
.containerItemActive {
  border: 2px solid #66bb6a;
}
.numberSummary {
  margin: 0;
  white-space: break-spaces;
  font-size: 18px;
}
.redColor {
  color: #ef5350;
}
.greenColor {
  color: #66bb6a;
}
.yellowColor {
  color: #fbc02d;
}
.flexCenter {
  display: flex;
  align-items: center;
}
.signalItemColumnRight {
  color: #fff;
}
.labelSignalItem {
  color: #bdbdbd;
  /* width: 80px; */
  width: 40px;
  margin: 8px 0;
}
.labelSignalItemForexSignal {
  width: 95px;
}
.value {
  margin: 0;
  text-align: right;
  width: 140px;
}
.dateTime {
  font-size: 14px;
  color: #bdbdbd;
  margin: 0;
}
.summaryDiv {
  /* width: 300px; */
  width: 100%;
  justify-content: flex-start;
  margin-top: 30px;
  flex-wrap: wrap;
}
.hiddenOnMobile {
  display: none;
}
.signalItemColumnLeftForexSignal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .signalList {
    grid-template-columns: auto auto;
  }
  .summaryDiv {
    width: 700px;
  }
  .numberSummary {
    font-size: 24px;
  }
  .headerTab {
    border-bottom: 1px solid #bdbdbd;
    display: flex;
    width: auto;
    overflow: hidden;
  }
  .datePicker {
    border-bottom: 1px solid #bdbdbd;
    width: 100%;
  }
  .hiddenOnMobile {
    display: inline-flex;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .signalList {
    grid-template-columns: auto auto auto;
  }

  .tabItem {
    width: 150px;
  }
  .tabItemActive {
    margin-top: -5px;
  }
}
