.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
}
.title {
  margin: 0;
  color: #fff;
  /* font-size: 36px; */
  font-size: 28px;
  font-weight: 100;
}
.line {
  width: 100px;
  height: 2px;
  background-color: #fbc02d;
  margin-top: 16px;
}
.tabSection {
  margin-top: 20px;
  width: 100%;
}
.tabs {
  display: flex;
}
.tabItem {
  color: #fff;
  /* width: 100px; */
  width: 25%;
  cursor: pointer;
  padding-bottom: 8px;
  border-bottom: 1px solid #bdbdbd;
}
.tabItemActive {
  color: #fbc02d;
  border-bottom: 2px solid #fbc02d;
}
.headerTab {
  /* border-bottom: 1px solid #bdbdbd; */
  /* display: flex; */
}
.datePicker {
  border-bottom: 1px solid #bdbdbd;
  width: 100%;
}
.loading {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.signalList {
  display: grid;
  grid-template-columns: auto;
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 30px;
}
/* For SignalItem */
.containerItem {
  background-color: #313131;
  border-radius: 12px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  max-height: 180px;
  height: 180px;
}
.containerItemActive {
  border: 2px solid #66bb6a;
}

.redColor {
  color: #ef5350;
  margin: 0;
}
.greenColor {
  color: #66bb6a;
  margin: 0;
}
.yellowColor {
  color: #fbc02d;
  margin: 0;
}
.flexCenter {
  display: flex;
  align-items: center;
}
.signalItemColumnRight {
  color: #fff;
}
.labelSignalItem {
  color: #bdbdbd;
  /* width: 80px; */
  width: 40px;
  margin: 8px 0;
}
.value {
  margin: 0;
  text-align: right;
  width: 140px;
}
.dateTime {
  font-size: 14px;
  color: #bdbdbd;
  margin: 0;
}
.summaryDiv {
  /* width: 300px; */
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .signalList {
    grid-template-columns: auto auto;
  }
  .summaryDiv {
    width: 300px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .signalList {
    grid-template-columns: auto auto auto;
  }
  .headerTab {
    border-bottom: 1px solid #bdbdbd;
    display: flex;
  }
  .tabItem {
    width: 100px;
  }
}
